body {
  background: #000;
  justify-content: center;
}

.pageDiv {
  position: absolute;
  background-color:#18181a;
  top: 5vh;
  height: 90vh;
  left: 1.5vw;
  right:1.5vw;
  text-align:center;
  border-radius: 30px
}
.gridDiv{
  width:95%;
  margin:auto;
}
.clickButton {
  font-size: 15px;
  border-radius:10px;
  padding:7.5px 25px;
  box-shadow:0 4.5px #001100;
}
.clickButton:active {
  box-shadow: 0 1.5px #001100;
  transform: translateY(3px);
}

.statDiv {
  text-align:center;
}
